---
import "../../styles/global.css";
import "../../styles/header.css";
import "../../styles/teamCard.css";
import TeamCard from "./projects_team_card.astro";

---

<!doctype html>
<html lang="en">
  <body>
    <div class="grid-container">
      <TeamCard title="Team 1" desc="Description for Team 1" link="/projects/team1"/>
      <TeamCard title="Team 2" desc="Description for Team 2" link="/projects/team2"/>
      <TeamCard title="Team 3" desc="Description for Team 3" link="/projects/team3"/>
      <TeamCard title="Team 4" desc="Description for Team 4" link="/projects/team4"/>

    </div>
  </body>
</html>
