/* Organisations we work with */

.organization {
    padding: 24px 0;
    margin: auto;
    text-align: center;
    background-color: var(--YOO-Yellow-Light);
}

.organization-heading{
    font-weight: 800;
    color: var(--YOO-Green-Primary);
}

.company {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.organization img {
    height: 125px;
    margin: auto;
}

img.soclog{
    width: 30px;
    height:auto;
    padding: 3px;
}



/* Footer */

.feet {
    padding: 12px 50px; /* ideally same as header */

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    border-top: solid 2px var(--YOO-Green-Light);
}

.footer-left{
    display: flex;
    align-items: center;
}

.footer-logo{

}

.logoContainer {
    padding: 16px 0;

    display: flex;
    width: 250px;
}

.socials {
    height: 60%;
    color: #4E4E4E;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.youthFont {
    color: var(--YOO-Green-Primary);
    font-size: var(--fontsize-h5);

    font-weight: 800;
}

.soclogContainer {
    display: flex;
    font-size: var(--fontsize-lrg);
}

.socials-subtitle{
    font-weight: 700;
    padding-bottom: 8px;
}

.footer-right {
    margin-right: 100px;
    height: min-content;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    gap: 4px;

    font-weight: 700;
}

.footer-nav a:hover {
    text-decoration: underline;
}