

/* Organisations we work with */

.organization {
    padding: 24px 0;
    margin: auto;
    text-align: center;
    background-color: var(--YOO-Yellow-Light);
}

.organization-heading{
    font-weight: 800;
    color: var(--YOO-Green-Primary);
}

.company {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.organization img {
    width: 160px;
    max-height: 125px;
    margin: auto;
}



/* Footer */

.feet {
    padding: 12px 50px; /* ideally same as header */
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    border-top: solid 2px var(--YOO-Green-Light);
}

.footer-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo{
    width: 100%;
    height: 100%;

    filter: drop-shadow(3px 6px 5px #a3a3a3);
}

.logoContainer {
    padding: 8px 0;
    display: flex;
    width: 125px;   /* Change logo size */
}

.FeetTitle {
    height: 60%;
    color: #4E4E4E;
    display: flex;
    flex-direction: column;
}

.youthFont {
    color: var(--YOO-Green-Primary);
    font-size: var(--fontsize-h5);
    font-weight: 800;

    line-height: 1.3;
}

.emailFont {
    font-size: var(--fontsize-reg);
    line-height: 1;
}


.footer-right {
    margin-right: 50px;
    /* height: min-content; */
}

.footer-nav{
    padding: 20px;
    display: flex;
    gap: 60px;
    font-size: 1.1rem;

    font-weight: 700;
}

.footer-nav a{
    transition: all 200ms;
}
.footer-nav a:hover {
    text-decoration: underline;
    color: var(--text-active);
}

.socials-subtitle{
    font-size: var(--fontsize-lrg);
    color: var(--YOO-Green-Primary);
    font-weight: 700;
    padding-bottom: 8px;
}

.soclogContainer {
    display: flex;
    gap: 15px;
}

img.soclog{
    width: 26px;
    height:auto;
    padding: 3px;
}

@media screen and (max-width: 1342px) {
    
    .footer-nav {
        gap: 30px;
    }
}

@media screen and (max-width: 1252px) {
    .feet {
        padding: 12px 50px;
    }
    .footer-right {
      display: none;
    }
    .footer-nav {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

@media(max-width: 900px){
    .feet{
        flex-direction: column;
    }
    .footer-nav{
        display: none;
    }
}