* {
  border: 1px solid black;
}

.title {
  text-align: center;
  font-size: 250%;
}

.nav {
  text-align: center;
  font-size: 100%;
}

.leadership,
.communications,
.projects {
  width: auto;
  margin: auto;
  margin-top: 5vh;
  display: flex;
  /* background-color: pink; */
  height: auto;
}

.right1,
.left2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: auto;
}

.right1,
.left2 {
  flex: 1;
}

.left1,
.right2 {
  flex: 0 0 auto;
  width: 375px;
  float: left;
}

.left1 h2,
.right2 h2 {
  font-size: 100%;
}

.left1 button,
.right2 button {
  font-size: large;
  width: 100%;
  border-radius: 50px;
  position: relative;
  margin-top: 100%;
}

body {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  line-height: 1.5;
}