body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 10px 0; /* 10px top and bottom, 0 left and right */
  color: #F8F8F8;
  border-bottom: 1px solid black;
}


nav ul li a {
  text-decoration: none;
  color: #294E03;
  font: Overpass;
  padding-left: 10px;
}

nav ul li a:hover {
  text-decoration: none;
  color: black;
}

