.header{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 12px 50px; /* 12 top and bottom, 50 left and right */
    align-items: center;
    justify-content: space-between;

    z-index: 1;
    background-color: white;

    border-bottom: solid 2px var(--YOO-Green-Light);
}


.logo {
    color: var(--YOO-Green-Primary);

    display: flex;
    align-items: center;
    vertical-align: middle;
    gap: 8px;
}
.logo:hover{
    color: var(--text-active);
}

.txt-logo{
    font-size: var(--fontsize-h5);
    font-weight: 800;

    line-height: 1;
    height: 15px;
}

.img-logo{
    width: 70px;
    height: auto;
}

.navbar{
    display: flex;
    gap: 48px;
}

.navbar a{
    position: relative;
    color: var(--YOO-Green-Primary);

    text-decoration: none;
    font-size: var(--fontsize-lrg);
    font-weight: 700;
    display: inline-flex;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #294E03;
    font-weight: bold;
    transition: .3s;
    display: flex;
}

.navbar a:hover::before{
    width: 100%;
}