.title {
  text-align: center;
  font-size: var(--fontsize-h3);
  background-color: var(--YOO-Green-Lightest);
  padding: 15px;
  color: var(--YOO-Green-Dark);
  padding-top: 30px;
}

.nav {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--YOO-Green-Lightest);
}

.lead-button,
.proj-button,
.com-button {
  border-radius: 15px;
  padding: 7px;
  width: 350px;
  font-size: var(--fontsize-h4);
  box-shadow: 3px 3px gray;
}

.leadership,
.lead-button {
  background-color: var(--YOO-Green-Light);
}

.lead-button:hover {
  background-color: var(--YOO-Green-Lightest);
  transition: 0.3s;
}

.communications,
.com-button {
  background-color: var(--YOO-Blue-Primary);
}

.com-button:hover {
  background-color: var(--YOO-Blue-Light);
  transition: 0.3s;
}

.projects,
.proj-button {
  background-color: var(--YOO-Red-Primary);
}

.proj-button:hover {
  background-color: var(--YOO-Red-Light);
  transition: 0.3s;
}

/* cloud svg: */
.shapedividers_com-9592 {
  overflow: visible;
  position: relative;
  height: 70px;
}

.shapedividers_com-9592::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  z-index: -1;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 320% 70px;
  background-position: 33% 0%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 100.86 4.15"><path fill="%23c8e4ae" d="M0 0v3.5a9.07 9.07 0 0 0 9.37-1.67 9.07 9.07 0 0 0 12.1 0 9.07 9.07 0 0 0 12.11 0 9.07 9.07 0 0 0 12.06 0 9.07 9.07 0 0 0 12.11 0 9.07 9.07 0 0 0 12.08 0 9.07 9.07 0 0 0 12.09 0 9.07 9.07 0 0 0 12.08 0 9.07 9.07 0 0 0 6.86 2.28V.01z"/></svg>');
}

@media (min-width: 2100px) {
  .shapedividers_com-9592::before {
    background-size: 320% calc(2vw + 60px);
  }
}

.leadership,
.communications,
.projects {
  width: auto;
  display: flex;
  height: auto;
  padding: 35px;
  margin: 60px;
  border-radius: 15px;
}

/* Description Boxs: */
.main-description-box-coms,
.main-description-box-lead,
.main-description-box-proj {
  padding: 18px;
  border-radius: 15px;
  margin-top: 15px;
  font-size: var(--fontsize-lrg);
}

.description-box-coms,
.description-box-lead,
.description-box-proj {
  padding: 15px;
  border-radius: 15px;
  margin-top: 15px;
  font-size: var(--fontsize-lrg);
}

.description-box-lead,
.main-description-box-lead {
  background-color: var(--YOO-Green-Lightest);
}

.description-box-coms,
.main-description-box-coms {
  background-color: var(--YOO-Blue-Light);
}

.description-box-proj,
.main-description-box-proj {
  background-color: var(--YOO-Red-Light);
}

.right1,
.left2 {
  /* display: flex;
  flex-wrap: wrap; */
  /* trying to make it fixed 3 columns*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex: 1 1 100%;
  width: 100%;
  background-color: aqua;
}

.right1 {
  margin-left: 3%;
}

.left2 {
  margin-right: 3%;
}

.left1,
.right2 {
  flex: 1 1 100%;
  width: 100%;
  background-color: orange;
}

.left1 h2,
.right2 h2 {
  font-size: var(--fontsize-h2);
}

.left1 button {
  font-size: var(--fontsize-reg);
  width: 100%;
  border-radius: 10px;
  position: relative;
  padding: 10px;
}

.person-card {
  margin-bottom: 15px;
}

.person-card p {
  border-radius: 10px;
  margin-top: 15px;
}

.person-card {
  margin: 10px;
  width: 280px;
  text-align: center;
  background-color: red;
}

.img-wrapper {
  width: 100%;
  height: 280px;
}

.img-wrapper img {
  border-radius: 50%;
  width: 100%;
  height: 280px;
  object-fit: cover;
  margin: 0 auto;
}

.project-button:hover,
.learn-more-proj:hover {
  background-color: var(--YOO-Red-Primary);
  transition: 0.3s;
}

.learn-more-proj {
  /*the learn more buttons but more general*/
  font-size: var(--fontsize-lrg);
  width: 100%;
  border-radius: 15px;
  position: relative;
  padding: 10px;
  margin-top: 15px;
  color: white;
}

.learn-more-proj,
.project-button {
  background-color: var(--YOO-Red-Dark);
  width: 100%;
}

.project-button-active {
  background-color: var(--YOO-Red-Primary);
}

.project-team-nav {
  background-color: var(--YOO-Red-Light);
  border-radius: 15px;
  padding: 18px;
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
}

.project-button {
  width: 95%;
  /* change width later... */
  border-radius: 15px;
  margin: 3%;
  padding: 10px;
  border-radius: 10px;
  font-size: var(--fontsize-lrg);
  color: white;
}

html {
  scroll-behavior: smooth;
}

/* Mobile styles */
@media (max-width: 800px) {

  .leadership,
  .communications,
  .projects {
    display: flex;
    flex-direction: column;
  }

  .right1,
  .left2 {
    grid-template-columns: 1fr;
  }

  .communications {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .communications .right2 {
    order: 1;
  }

  .communications .left2 {
    order: 2;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }
}