.projects-page {
  background-color: var(--YOO-Green-Lightest);
}

.index-event-img {
  height: auto;
  max-height: 1000px;
  min-height: 400px;
  width: 100%;
  object-fit: cover;
}

.index-event-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--common-radius);
  opacity: 0.8;
}

.recent-projects-banner {
  width: 100%;
  height: 225px;
  background-color: var(--YOO-Blue-Light);
  z-index: -1;
  padding: 10% 10% 5% 5%
}

.past-projects-banner {
  width: 100%;
  height: 200px;
  background-color: var(--YOO-Green-Lightest);
  z-index: -1;
  padding-left: 5%;
  align-content: center;
}

.past-project-container {
  width: 100%;
  /* min-height: 700px; */
  display: flex;
  flex-direction: column;
}

.project-text {
  position: absolute;
  bottom: 0;
  width: 40%;
  height: 150px;
  padding: 20px;
  padding-left: 30px;
  border-top-right-radius: var(--common-radius);
  display: flex;
}

.project-title-time {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.project-desc {
  max-width: 40%;
  border-left: 2px solid var(--text-light);
  padding-left: 10px;
  overflow: auto;
}

.project-right-corner-element {
  content: "";
  margin-top: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: transparent;
  margin-left: 35%;
  height: 50px;
  color: transparent;
  border-top-left-radius: var(--common-radius);
  box-shadow: -15px 0px var(--YOO-Green-Lightest);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.project-left-corner-element {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: transparent;
  margin-top: 80px;
  height: 50px;
  color: transparent;
  border-top-left-radius: var(--common-radius);
  box-shadow: 0px -25px var(--YOO-Green-Lightest);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.project-team {
  position: absolute;
  top: 0;
  padding: 20px 10px 10px 10px;
  width: 15%;
  height: 8%;
  text-align: center;
  border-bottom-right-radius: var(--common-radius);
}

.project-team-right-corner-element {
  position: absolute;
  top: 0;
  margin-left: 15%;
  margin-top: 10px;
  height: 50px;
  background-color: transparent;
  border-top-left-radius: var(--common-radius);
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
}

.project-team-left-corner-element {
  position: absolute;
  top: 0;
  margin-top: 80px;
  height: 50px;
  background-color: transparent;
  border-top-left-radius: var(--common-radius);
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
}

/* CARDS */

.grid-container {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 30px;
}


/* Cards */
.team-card {
  width: 48%;
  /* TODO change this for dynamic width */

  padding: 0 32px;

  background-color: var(--YOO-Green-Lightest);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 4px 4px 8px rgba(0, 80, 50, 0.2);

  transition: all 300ms ease-in-out;
}

.team-card:hover {
  cursor: pointer;
  transform: translate(-8px, -8px);
  transition: all 150ms ease-in-out;

  box-shadow: 14px 14px 16px rgba(0, 120, 50, 0.2);
  /* Add shadow for depth */
}

.team-details {
  padding: 32px 0;
  color: var(--YOO-Green-Primary);
}

.team-image-wrapper {
  /* Full width via negative margin */
  margin: 0 -32px;
  height: 200px;
}

.team-image {
  width: 100%;
  background-color: var(--YOO-Green-Light);
}

.team-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder-text {
  font-size: var(--fontsize-lrg);
  color: var(--text-medium);
  height: 270px;
}



/* TEAM PROJECTS PAGE */
.team-projects-page {
  background-color: var(--YOO-Blue-Light);
}

.team-projects-members {
  font-size: var(--fontsize-lrg);
  font-weight: 500;

  color: var(--YOO-Green-Primary);
}

@media (max-width: 900px) {
  .past-project-container {
    width: 100%;
    /* min-height: 700px; */
    display: flex;
    flex-direction: column;
  }

  .project-team {
    position: absolute;
    top: 0;
    padding: 15px 10px 10px 10px;
    width: 35%;
    height: 16%;
    text-align: center;
    border-bottom-right-radius: var(--common-radius);
  }

  .index-heading {
    font-size: var(--fontsize-h4);
  }

  .project-team-right-corner-element {
    content: "";
    margin-top: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    margin-left: 35%;
    height: 50px;
    color: transparent;
    border-top-left-radius: var(--common-radius);
    box-shadow: -15px 0px var(--YOO-Green-Lightest);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }


  .project-team-left-corner-element {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    margin-top: 65px;
    height: 50px;
    color: transparent;
    border-top-left-radius: var(--common-radius);
    box-shadow: 0px -25px var(--YOO-Green-Lightest);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .index-event-img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

  .index-event-img img {
    height: 100%;
  }

  .index-event-details h5 {
    font-size: var(--fontsize-h6);
  }

  .index-event-title h2 {
    font-size: var(--fontsize-h5);
  }

  .index-event-description h5 {
    font-size: var(--fontsize-reg);
  }
}