/* loginForm.css */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: "Overpass", sans-serif;
  }

.login-container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C8E4AE;
    overflow: hidden;
  }
  
  .login-form-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .login-form {
    margin-bottom: 10px;
  }
  
  .password-label {
    margin-right: 10px;
    font-weight: 600;
  }
  
  .password-input {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin-right: 10px;
  }
  
  .login-button {
    background-color: #294E03;
    padding: 8px 15px;
    border-radius: 999px;
    color: white;
    font-weight: 600;
  }
  
  .error-message {
    color: red;
  }
  
  .refresh-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logged-in-message {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .change-password-form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .change-password-button {
    background-color: #294E03;
    padding: 8px 15px;
    border-radius: 999px;
    color: white;
    font-weight: 600;
  }
  
  .password-changed-message {
    color: #28A745;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .refresh-button {
    background-color: #294E03;
    padding: 8px 15px;
    border-radius: 999px;
    color: white;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .logs-container {
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
  }
  
  .logs-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .logs-list {
    list-style-type: disc;
    padding-left: 20px;
    max-height: 150px;
    overflow-y: auto;
    background-color: #F0F0F0;
    padding: 10px;
    border-radius: 8px;
  }
  
  .log-message {
    font-size: 0.875rem;
  }
  