---
import Layout from '../layouts/layout.astro';
import { NotionAPI } from 'notion-client';
import NotionPage from '../components/NotionPage';

const notion = new NotionAPI();
const pageId = '7bc7f1106e404a4dad6c055c9579726d'; // Replace with your Notion page ID
const recordMap = await notion.getPage(pageId);
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <title>Archive Page</title>
  <style>

    .contact-wrapper {
      background-color: var(--YOO-Green-Lightest);
      padding: 20px;
    }

    /* Responsive notion */
    .notion-wrapper {
      overflow-x: auto;
    }

  </style>
</head>

<body>
  <Layout>
    <div class="contact-wrapper">
      <div class="notion-wrapper">
        <NotionPage recordMap={recordMap} />
      </div>
    </div>
  </Layout>
</body>

</html>
