---
// Contact Page
import '../styles/global.css';
import TeamDisplay from '../components/TeamDisplay.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Contact</title>
	</head>
	<body>
		<h1>Contact Us</h1>
	</body>
</html>
