---
import "../styles/global.css";
import "../styles/index.css";
import Layout from '../layouts/layout.astro';
import { NotionAPI } from 'notion-client';
import NotionPage from '../components/NotionPage';
import IndexHeading from "../components/index page/IndexHeading";
console.log("helloaaa")
const notion = new NotionAPI();
const pageId = '18f398390b9f80489b23ca31702bceeb';
const recordMap = await notion.getPage(pageId);

---


  <Layout title="Youth of Ōrākei | History" description="Youth of Ōrākei's History page, showcasing past members.">
    <div class="contact-wrapper">
      <div class="heading-wrapper">
        <IndexHeading>Archive of Past Members and Projects</IndexHeading>
      </div>
      <div class="notion-wrapper">
        <NotionPage recordMap={recordMap} />
      </div>
    </div>
  </Layout>

