---

// Homepage
import "../styles/global.css";
import "../styles/index.css";

import Layout from '../layouts/layout.astro';
import ImageCarousel from "../components/ImageCarousel";
import IndexImage from "../components/index page/IndexImage";
import IndexAbout from "../components/index page/IndexAbout";
import IndexGoals from "../components/index page/IndexGoals";
import IndexHeading from "../components/index page/IndexHeading";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Youth of Ōrākei | Home</title>
	</head>
	<Layout>
		<img class="index-bg" alt = "abstract background shapes" src="/assets/YOO_index-hero-bg-2.svg" style={{top: "-100px"}}>
		<div class="general-wrapper">
			<section class="index-section hero">
				<div class="hero-text">
					<p class="hero-subheading">Youth of Ōrākei</p>
					<h1 class="hero-heading">Empowering and engaging Ōrākei youth to promote their wellbeing</h1>
					<p class="hero-desc">We’re the Youth of Ōrākei, a group of 26 young leaders (aged 12-24) from the Ōrākei Local Board area who are determined to make a positive impact in our community.</p>
				</div>
			</section>
		</div>

		<IndexImage source="/Team + Individual/Whole Council.JPG" desc="A group photo of YOO."></IndexImage>

		<img class="index-bg" alt = "abstract background shapes" src="/assets/YOO_index-hero-bg-2.svg">

		<section class="index-section">
			<IndexAbout></IndexAbout>
		</section>

		<IndexImage source="/Past Events/Quiz Night.jpg" desc="Some YOO members at a quiz night event"></IndexImage>

		<section class="index-section">
			<IndexGoals></IndexGoals>
		</section>

		<section class="index-events">
			 <div class="index-image-carousel-container"> 
				<ImageCarousel  client:only />
			</div>
		</section>
	</Layout>
</html>
