---

// Homepage
import "../styles/global.css";
import "../styles/index.css";
import styles from "../components/index page/index.module.css"

import Layout from '../layouts/layout.astro';
import ImageCarousel from "../components/ImageCarousel";
import IndexImage from "../components/index page/IndexImage";
import IndexAbout from "../components/index page/IndexAbout";
import IndexGoals from "../components/index page/IndexGoals";
import IndexHero from "../components/index page/IndexHero";

import BlobBackground from "../components/BlobBackground/BlobBackground";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Youth of Ōrākei | Home</title>
	</head>
	<Layout>
		<BlobBackground zIndexVal="-10" offset="-100"/>
		<section class="index-section">
			<IndexHero/>
		</section>

		<IndexImage source="/Team + Individual/Whole Council.JPG" desc="A group photo of YOO."/>

		<BlobBackground zIndexVal="-10"/>

		<section class="index-section">
			<IndexAbout/>
		</section>

		<IndexImage source="/Past Events/Quiz Night.jpg" desc="Some YOO members at a quiz night event"/>

		<section class="index-section">
			<IndexGoals/>
		</section>

		<section class="index-events">
			 <div class="index-image-carousel-container"> 
				<ImageCarousel  client:only />
			</div>
		</section>
	</Layout>
</html>
