---
// Homepage
import "../styles/global.css";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Homepage</title>
	</head>
	<body>
		<Header />
		<div class="hero">
			<img class="hero-bg" alt = "abstract background shapes" src="src/assets/YOO_index-hero-bg.svg">
			<div class="general-wrapper">
				<div class="hero-content">
					<div class="hero-text">
						<p class="hero-subheading">Youth of Ōrākei</p>
						<h1 class="hero-heading">Empowering and engaging Ōrākei youth to promote their wellbeing</h1>
					</div>
					<div class="hero-image">
						<div class="placeholder">

						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="index-section" style="height: 50rem; background-color: #EEEEEE">
			<div class="general-wrapper">
				<p>Stuff here</p>
			</div>
		</section>
		<Footer />
	</body>
</html>
