---
// Homepage
import "../styles/global.css";
import "../styles/index.css";

import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Homepage</title>
	</head>
	<body>
		<Header />
		<div class="hero">
			<img class="hero-bg" alt = "abstract background shapes" src="src/assets/YOO_index-hero-bg.svg">
			<div class="general-wrapper">
				<div class="hero-content">
					<div class="hero-text">
						<p class="hero-subheading">Youth of Ōrākei</p>
						<h1 class="hero-heading">Empowering and engaging Ōrākei youth to promote their wellbeing</h1>
					</div>
					<div class="hero-image">
						<div class="placeholder">
							<p class="placeholder-text">Placeholder image</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="index-section">
			<div class="general-wrapper">
				<h3 class="index-heading text-blue">About us</h3>
				<div class="index-about">
					<div class="index-about-section">
						<div class="index-about-text">
							<h4 class="index-subheading">Who we are</h4>
							<p>
								A group of 26 young leaders (aged 12-24) from the Ōrākei Local Board area who are determined to make a positive impact in our community. As a group we help provide a voice to the youth in our community. The youth council is supported by the Ōrākei Local Board.
							</p>
						</div>
						<div class="index-about-image">
							<div class="placeholder">
								<p class="placeholder-text">Placeholder image</p>
							</div>
						</div>
					</div>
					<div class="index-about-section">
						<div class="index-about-image">
							<div class="placeholder">
								<p class="placeholder-text">Placeholder image</p>
							</div>
						</div>
						<div class="index-about-text">
							<h4 class="index-subheading">What we do</h4>
							<p>
								The Youth of Ōrākei not only organises and supports events, but they equip and engage youth. But it is also our priority to give a voice to the youth in the community for the future of Ōrākei and wider Auckland by advising and submitting on council policies.
							</p>
						</div>
					</div>

				</div>

			</div>
		</section>

		<section class="index-section index-goals">
			<div class="general-wrapper">
				<h3 class="index-heading text-green-dark">Our goals</h3>
				<p class="text-medium">(super random placeholder design at the moment)</p>
				<div class="index-goals-headlines">
					<div class="index-goals-line">

					</div>
					<div class="index-goals-text">
						<p class="index-goals-headline text-blue">Support</p>
						<p class="index-goals-headline text-green">Connect</p>
						<p class="index-goals-headline text-red">Empower</p>
					</div>
				</div>
			</div>
		</section>

		<section class="index-section index-events">
			<div class="general-wrapper">
				<h3 class="index-heading text-green-dark">Upcoming events</h3>
				<div class="index-events-carousel-wrapper">
					<div class="index-carousel-button">

					</div>
					<div class="index-carousel-box">

						<div class="index-carousel-image">
							<div class="placeholder">
								<p class="placeholder-text">Placeholder image</p>
							</div>
						</div>
						<div class="index-carousel-text">
							<p class="carousel-subtitle">
								2nd September, 12:30 - 3:30PM
							</p>
							<p class="carousel-title">
								Sportathon
							</p>
							<p class="carousel-paragraph">
								Are you a student interested in sports, fun, exercise, and meeting new people? Come to our Sportathon event on the 2nd September at College Rifles!
							</p>
						</div>
					</div>
					<div class="index-carousel-button">

					</div>
				</div>
			</div>
		</section>

		<Footer />
	</body>
</html>
