---
//import { getMembers } from '../scripts/getMembers';
//let members = await getMembers();
//import { getAnton } from '../scripts/getAnton';
//let anton = await getAnton();
//import { getCovers } from '../scripts/getCovers';
//let covers = await getCovers();

// Members Page
import "../styles/global.css";
import "../styles/members.css";

import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Layout from "../layouts/layout.astro";

import TeamDisplay from "../components/TeamDisplayLeft.astro";
import TeamDisplayLeft from "../components/TeamDisplayLeft.astro";
import TeamDisplayRight from "../components/TeamDisplayRight.astro";
import ChangeTeam from "../components/ProjectTeam";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <Layout>
    <div class="title"><h1><b>Introducing Our Teams</b></h1></div>
    <div class="nav">
      <button class="lead-button"
        ><a href="#leadership-section">Leadership</a></button
      >
      <button class="com-button"
        ><a href="#com-section">Communications</a></button
      >
      <button class="proj-button"><a href="#proj-section">Projects</a></button>
    </div>
    <div class="shapedividers_com-9592"></div>

    <!-- importing the left + right components -->
    <TeamDisplayLeft />
    <TeamDisplayRight />
    <ChangeTeam />

    <!-- temporary code: -->
    <!-- <div class="projects" id="proj-section">
      <div class="left1">
        <h2 class="proj-title"><b>Project Delivery Team</b></h2>
        <p class="main-description-box-proj">
          Description of the leadership team... Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Integer sit amet fringilla libero.
          Praesent rutrum in dui ut feugiat. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Nullam eget eleifend nibh. Maecenas ut
          turpis ante.
          <button class="learn-more-proj"
            ><a href="/projects/team1">LEARN MORE</a></button
          >
        </p>
      </div>
      <div class="right1">
        <div class="projects-nav-card">
          <div class="project-team-nav">
            <button class="project-button" onclick="changeTeam('team-1')"
              >Team 1</button
            >
            <button class="project-button" onclick="changeTeam('team-2')"
              >Team 2</button
            >
            <button class="project-button" onclick="changeTeam('team-3')"
              >Team 3</button
            >
            <button class="project-button" onclick="changeTeam('team-4')"
              >Team 4</button
            >
          </div>
        </div>
        <div class="person-card">
          <div class="img-wrapper">
            <img src="/Team + Individual/T1-LeoMorrison.JPG" />
          </div>
          <p class="description-box-proj">
            <b>Leo Morrison</b><br />
            Team 1 <br />
            [Text]
          </p>
        </div>
        <div class="person-card">
          <div class="img-wrapper">
            <img src="/Team + Individual/T1-JamesHarbour.JPG" />
          </div>
          <p class="description-box-proj">
            <b>James Harbour</b><br />
            Team 1 <br />
            [Text]
          </p>
        </div>
        <div class="person-card">
          <div class="img-wrapper">
            <img src="/Team + Individual/T1-TobyLow (TL).JPG" />
          </div>
          <p class="description-box-proj">
            <b>Toby Low</b><br />
            Team 1 <br />
            [Text]
          </p>
        </div>
        <div class="person-card">
          <div class="img-wrapper">
            <img src="/Team + Individual/T1-EllaAitken.jpg" />
          </div>
          <p class="description-box-proj">
            <b>Ella Aitken</b><br />
            Team 1 <br />
            [Text]
          </p>
        </div>
        <div class="person-card">
          <div class="img-wrapper">
            <img src="/Team + Individual/T1 - OliviaAnderson.JPG" />
          </div>
          <p class="description-box-proj">
            <b>Olivia Anderson</b><br />
            Team 1 <br />
            [Text]
          </p>
        </div>
      </div>
    </div> -->
  </Layout>

  <!-- next team...
  <div class="projects" id="proj-section">
    <div class="left1">
      <h2 class="proj-title"><b>Project Delivery Team</b></h2>
      <p class="main-description-box-proj">
        Description of the leadership team... Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Integer sit amet fringilla libero. Praesent
        rutrum in dui ut feugiat. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nullam eget eleifend nibh. Maecenas ut turpis ante.
        <button class="learn-more-proj"
          ><a href="/projects/team1">LEARN MORE</a></button
        >
      </p>
    </div>
    <div class="right1">
      <div class="projects-nav-card">
        <div class="project-team-nav">
          <button class="project-button" onclick="changeTeam('team-1')"
            >Team 1</button
          >
          <button class="project-button" onclick="changeTeam('team-2')"
            >Team 2</button
          >
          <button class="project-button" onclick="changeTeam('team-3')"
            >Team 3</button
          >
          <button class="project-button" onclick="changeTeam('team-4')"
            >Team 4</button
          >
        </div>
        <div class="person-card">
          <div class="img-wrapper">
            <img src="/Team + Individual/T2-EnyaGrayson (TL).JPG" />
          </div>
          <p class="description-box-proj">
            <b>Leo Morrison</b><br />
            Team 1 <br />
            [Text]
          </p>
        </div>
        <div class="person-card">
          <div class="img-wrapper">
            <img src="/Team + Individual/T2-PaidaPatronella.JPG" />
          </div>
          <p class="description-box-proj">
            <b>James Harbour</b><br />
            Team 1 <br />
            [Text]
          </p>
        </div>
        <div class="person-card">
          <div class="img-wrapper">
            <img src="/Team + Individual/T2-SebastianUdema.JPG" />
          </div>
          <p class="description-box-proj">
            <b>Toby Low</b><br />
            Team 1 <br />
            [Text]
          </p>
        </div>
        <div class="person-card">
          <div class="img-wrapper">
            <img src="/Team + Individual/T2-WillDickson.JPG" />
          </div>
          <p class="description-box-proj">
            <b>Ella Aitken</b><br />
            Team 1 <br />
            [Text]
          </p>
        </div>
      </div>
    </div> -->


</html>
