---
import "../styles/global.css";
import "../styles/members.css";
import Layout from "../layouts/layout.astro";
import members from "../../public/members/membersData.json"
import TeamDisplayLeft from "../components/TeamDisplayLeft.astro";
import TeamDisplayRight from "../components/TeamDisplayRight.astro";
import ProjectTeam from "../components/ProjectTeam.tsx";
import { sortMembersByTeam } from "../scripts/sortTeams.ts";
import { getTeamsDescriptions } from "../scripts/getTeamDescription";

let { teamsDict, projects } =
    sortMembersByTeam(members);
let teamDescription = await getTeamsDescriptions();
console.log(teamsDict);
console.log(teamDescription);

function mapTeamWithDesc(teams: any, teamDescription: any) {
  return Object.keys(teams)
      .map(teamName => {
        const description = teamDescription.find(desc => desc.name === teamName);
        if (teamDescription) {
          return {
            teamName,
            members: teams[teamName],
            description: teamDescription.description
          };
        }
        return null;
      })
      .filter(Boolean);
}

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Members Page</title>
  </head>
  <section class="section-background">
  <Layout>
  
      
    <!-- <BlobBackground zIndexVal="-10" offset="-100"/>
    <BlobBackground zIndexVal="-10" offset="900"/> -->
    
    <object data="..\public\assets\YOO_members_bg.svg"> </object>
    <div class="nav">
      <button class="lead-button"
        ><a href="#leadership-section">LEADERSHIP</a></button
      >
      <button class="com-button"
        ><a href="#com-section">COMMUNICATIONS</a></button
      >
      <button class="proj-button"><a href="#proj-section">PROJECTS</a></button>
    </div>
    <!-- <div class="shapedividers_com-9592"></div> -->

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <!-- function for the scroll up button -->
    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        const myButton = document.getElementById("myBtn") as HTMLButtonElement;

        window.onscroll = function () {
          scrollFunction();
        };

        function scrollFunction() {
          if (
            document.body.scrollTop > 20 ||
            document.documentElement.scrollTop > 20
          ) {
            myButton.style.display = "block";
          } else {
            myButton.style.display = "none";
          }
        }

        myButton.onclick = function () {
          topFunction();
        };

        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      });
    </script>
    {Object.keys(teamsDict).forEach((teamName: string) => {

    })}
    <ProjectTeam client:only="react" projects={projects} />
  
  </Layout>
</section>
</html>
