---

import members from "../../public/members/membersData.json"
import { sortMembersByTeam } from "../scripts/sortTeams.ts";
let { leadershipTeam, communicationTeam, projects } =
  sortMembersByTeam(members);
import "../styles/global.css";
import "../styles/members.css";

import Layout from "../layouts/layout.astro";
import TeamDisplayLeft from "../components/TeamDisplayLeft.astro";
import TeamDisplayRight from "../components/TeamDisplayRight.astro";
import ProjectTeam from "../components/ProjectTeam.tsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Members Page</title>
  </head>
  <Layout>
    <img
      id="downloaded-image"
      src=""
      alt="Downloaded Image"
      style="display: none;"
    />
    <div class="title"><h1><b>Introducing Our Teams</b></h1></div>
    <div class="nav">
      <button class="lead-button"
        ><a href="#leadership-section">Leadership</a></button
      >
      <button class="com-button"
        ><a href="#com-section">Communications</a></button
      >
      <button class="proj-button"><a href="#proj-section">Projects</a></button>
    </div>
    <div class="shapedividers_com-9592"></div>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <!-- function for the scroll up button -->
    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        const myButton = document.getElementById("myBtn") as HTMLButtonElement;

        window.onscroll = function () {
          scrollFunction();
        };

        function scrollFunction() {
          if (
            document.body.scrollTop > 20 ||
            document.documentElement.scrollTop > 20
          ) {
            myButton.style.display = "block";
          } else {
            myButton.style.display = "none";
          }
        }

        myButton.onclick = function () {
          topFunction();
        };

        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      });
    </script>
    <TeamDisplayLeft team={leadershipTeam} />
    <TeamDisplayRight team={communicationTeam} />
    <ProjectTeam client:only="react" projects={projects} />
  </Layout>
</html>
