---
// Members Paeg
import '../styles/global.css';
import TeamDisplay from '../components/TeamDisplay.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Members</title>
	</head>
	<body>
		<h1>Members</h1>
		<TeamDisplay />
	</body>
</html>
