---
import "../styles/global.css";
import "../styles/index.css";
import "../styles/projects.css";
import Layout from "../layouts/layout.astro";
import PastProjectsList from "../components/projectspage/PastProjectsList";
import ImageCarousel from "../components/projectspage/ProjectsImageCarousel";
import IndexHeading from "../components/index page/IndexHeading";
import BlobBackground from "../components/BlobBackground/BlobBackground";
import { serveProjects } from "../scripts/serveProjects";
const { projects, carouselList } = await serveProjects();
console.log(carouselList)

---
  <Layout title="Youth of Ōrākei | Projects" description="Youth of Ōrākei's project's page, showcasing previous, current and upcoming projects!">
    <main class="projects-page">
      <ImageCarousel client:only="react" projects={carouselList}/>
      <BlobBackground zIndexVal="-10" offset="-100"/>
      <div class="past-projects-banner">
        <IndexHeading>Our Past Projects</IndexHeading>
      </div>
      <section class="index-events">
        <div class="index-image-carousel-container">
          <PastProjectsList client:only="react" projects={projects} />
        </div>
      </section>
    </main>
  </Layout>
