---
import "../styles/global.css";
import "../styles/index.css";
import "../styles/projects.css";
import Layout from "../layouts/layout.astro";
import PastProjectsList from "../components/projects page/PastProjectsList";
import ImageCarousel from "../components/ImageCarousel";
import IndexHeading from "../components/index page/IndexHeading";
import BlobBackground from "../components/BlobBackground/BlobBackground";

// Read the JSON files from the public folder
import projects from "../../public/projects/projectsData.json"
import carouselList from "../../public/projects/carouselList.json"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Projects</title>
  </head>
  <Layout>
    <main class="projects-page">
      <ImageCarousel client:only="react" carousels={carouselList}/>
      <BlobBackground />
      <div class="past-projects-banner">
        <IndexHeading>Our Past Projects</IndexHeading>
      </div>
      <section class="index-events">
        <div class="index-image-carousel-container">
          <PastProjectsList client:only="react" projects={projects} />
        </div>
      </section>
    </main> 
  </Layout>
</html>
