---
// Projects Page
import "../styles/global.css";
import "../styles/index.css";
import TeamDisplay from "../components/TeamDisplay.astro";
import Layout from "../layouts/layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import TeamCard from "../components/TeamCard.astro";
import Carousel from "../components/carousel.astro";
import Container from "../components/container.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Layout>
      <img
        class="hero-bg"
        alt="abstract background shapes"
        src="/assets/YOO_index-hero-bg.svg"
      />
      <section class="general-wrapper section-content">
        <h3 class="bold-heading text-blue">Our Projects</h3>
        <Container />

      </section>

      <Carousel />

    </Layout>
  </head>
</html>
