---
// Projects Page
import "../styles/global.css";
import "../styles/index.css";
import "../styles/projects.css";
import Layout from "../layouts/layout.astro";
import Carousel from "../components/carousel.astro";
import PastProjectsList from "../components/projects page/PastProjectsList";
import ImageCarousel from "../components/ImageCarousel";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Projects</title>
  </head>
  <Layout>
    <main class="projects-page">
        <ImageCarousel client:only />
        <div class="past-projects-banner">
          <h2 class="bold-heading text-green">Our Past Projects</h2>
        </div>
          <PastProjectsList />
    </main>
  </Layout>

</html>
