---
// Projects Page
import "../styles/global.css";
import "../styles/index.css";
import "../styles/projects.css";
import Layout from "../layouts/layout.astro";
import Carousel from "../components/carousel.astro";
import PastProjectsList from "../components/projects page/PastProjectsList";
import ImageCarousel from "../components/ImageCarousel";
import IndexHeading from "../components/index page/IndexHeading";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Projects</title>
  </head>
  <Layout>
    <main class="projects-page">
        <ImageCarousel client:only />
        <div class="past-projects-banner" style="background-image: url('/assets/YOO_index-hero-bg-2.svg'); background-size: cover;">
          <IndexHeading>Our Past Projects</IndexHeading>
        </div>
        <section class="index-events">
          <div class="index-image-carousel-container">
            <PastProjectsList />
          </div>
        </section>
    </main>
  </Layout>

</html>
