---
import LoginForm from "../components/AdminPage/loginForm"
import "../styles/refresh.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Youth of Ōrākei | Refresh</title>
	</head>
<LoginForm client:only="react"/>

</html>
