.nav{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 12px 10%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: hsl(120deg 50% 90% / 0.35);
    backdrop-filter: blur(8px);

    border-bottom: solid 3px hsl(120deg 30% 65% / 0.5);

    color: var(--YOO-Green-Primary);
}

.logo {
    display: flex;
    align-items: center;
    vertical-align: middle;
    gap: 8px;

    transition: all 400ms;

    will-change: transform;
}
.logo:hover{
    color: var(--text-active);
    transform: scale(0.98);
    transition: all 200ms;
}

.logoText{
    font-size: var(--fontsize-h5);
    font-weight: 800;

    line-height: 1;
    height: 15px;
}

.logoImg{
    width: 70px;
    height: auto;
}

.links{
    display: flex;
    gap: 48px;

    /* Vertical centering offset for animated underline */
    transform: translateY(2px);
}

.links a{
    position: relative;

    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    display: inline-flex;

    transition: all 400ms;

}

.links a::before{
    content: '';

    position: absolute;
    top: 90%;
    left: 0;
    width: 0;

    height: 2px;
    transform: scaleY(0.8); /* Slightly thinner retina line */
    background-color: var(--text-active);

    opacity: 0;
    border-radius: 6px;
    transition: all 400ms;
}

.links a:hover{
    color: var(--text-active);
    transition: all 200ms;
}

.links a:hover::before{
    width: 100%;
    opacity: 0.75;
    transition: all 200ms;
}


/* TODO Navbar mobile */
@media (max-width: 850px) {
    .links{
        display: none;
    }
}