.nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 12px 10%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: hsl(120deg 50% 100% / 0.3);
    backdrop-filter: blur(8px);

    border-bottom: solid 3px hsl(120deg 30% 65% / 0.5);

    color: var(--YOO-Green-Primary);
}

.logo {
    display: flex;
    align-items: center;
    vertical-align: middle;
    gap: 8px;
    margin-right: auto;

    transition: all 400ms;

    will-change: transform;
}

.logo:hover {
    color: var(--text-active);
    transform: scale(0.98);
    transition: all 200ms;
}

.logoText {
    font-size: var(--fontsize-h5);
    font-weight: 800;

    line-height: 1;
    height: 15px;
}

.logoImg {
    width: 70px;
    height: 49px;
}

.links {
    display: flex;
    gap: 48px;
    margin-left: auto;
    /* Vertical centering offset for animated underline */
    transform: translateY(2px);
}

.links a {
    position: relative;

    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    display: inline-flex;

    transition: all 400ms;

}

.links a::before {
    content: '';

    position: absolute;
    top: 90%;
    left: 0;
    width: 0;

    height: 2px;
    transform: scaleY(0.8); /* Slightly thinner retina line */
    background-color: var(--text-active);

    opacity: 0;
    border-radius: 6px;
    transition: all 400ms;
}

.links a:hover {
    color: var(--text-active);
    transition: all 200ms;
}

.links a:hover::before {
    width: 100%;
    opacity: 0.75;
    transition: all 200ms;
}

.sillyButtonInactive{
    padding: 0;
    border: none;
    background-color: transparent;

    position: absolute;
    right: 12px;
    top: 12px;

    font-size: var(--fontsize-sml);
    color: rebeccapurple;
    opacity: 0.2;

    transition: all 200ms;
}
.sillyButtonInactive:hover{
    opacity: 0.7;
    cursor: pointer;
}

.sillyButtonActive{
    padding: 0;
    border: none;
    background-color: transparent;

    position: absolute;
    right: 12px;
    top: 12px;

    font-size: var(--fontsize-sml);
    font-weight: 700;
    color: red;
    opacity: 1;

    transition: all 200ms;
}
.sillyButtonActive:hover{
    opacity: 0.7;
    cursor: pointer;
}


/* TODO Navbar mobile */

.hamburger {
    display: none; /* Hidden by default */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 20;
    position: absolute;
    top: 30px;
    right: 5%;
}

.hamburgerIcon {
    width: 24px;
    height: 24px;
    color: var(--YOO-Green-Primary);
}

.mobileMenu {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

.mobileMenu.open {
    display: flex;
}

.mobileMenu a {
    text-decoration: none;
    padding: 0.5rem 0;
    color: black;
    font-weight: 500;
    transition: color 0.3s;
}

.mobileMenu a:hover {
    color: var(--YOO-Green-Primary);
}

@media (max-width: 850px) {
    .hamburger {
        display: block;
    }

    .links {
        display: none;
    }
}
