---
// Carousel component
import "../styles/global.css";
import "../styles/index.css";
---

<section class="index-section index-events">
  <div class="general-wrapper">
    <h3 class="index-heading text-green-dark">Recent Projects</h3>
    <div class="index-events-carousel-wrapper">
      <div class="index-carousel-box">
        <div class="index-carousel-image">
          <div class="placeholder">
            <p class="placeholder-text">Placeholder image</p>
          </div>
        </div>
        <div class="index-carousel-text">
          <p class="carousel-title">Park Clean Up</p>
          <p class="carousel-paragraph"></p>
        </div>
      </div>
    </div>
  </div>
</section>
