---
import "../styles/global.css";
import "../styles/header.css";
import "../styles/teamCard.css";
import TeamCard1 from "./TeamCard1.astro";
import TeamCard2 from "./TeamCard2.astro";
import TeamCard3 from "./TeamCard3.astro";
import TeamCard4 from "./TeamCard4.astro";
---

<!doctype html>
<html lang="en">
  <body>
    <div class="grid-container">
      <TeamCard1 />
      <TeamCard2 />
      <TeamCard3 />
      <TeamCard4 />
    </div>
  </body>
</html>
