---
import "../styles/global.css";
import "../styles/header.css";
import "../styles/teamCard.css";
import TeamCard from "./TeamCard.astro";
---

<!doctype html>
<html lang="en">
  <body>
    <div class="grid-container">
      <TeamCard></TeamCard>

      <TeamCard></TeamCard>
      <TeamCard></TeamCard>
      <TeamCard></TeamCard>
      <TeamCard></TeamCard>
      <TeamCard></TeamCard>
    </div>
  </body>
</html>
