---
import '../styles/global.css';
import '../styles/footer.css';
---
<div class="organization">
    <p><b> Organizations and schools we work with: </b></p>
    <div class="company">
        <a href="https://www.ayv.org.nz/"><img src="public/aucklandYouthVoice.png"></a>
        <a href="https://www.aucklandcouncil.govt.nz/about-auckland-council/how-auckland-council-works/local-boards/all-local-boards/orakei-local-board/Pages/default.aspx"><img src="public/orakeiLocalBoard.png"></a>
    </div>
</div>

<div class="feet">
    <div class="logoContainer">
        <img class="footLogo" src="/YOO_Logo_Transparent_Background.png">
    </div>

    <div class="socials">
        <h1 class="youthFont"><b> Youth of Ōrākei </b></h1>
        <br>
        <h2><b> Connect with us </b></h2>
        <div class="soclogContainer">
            <a href="https://www.facebook.com/youthoforakei/"><img class="soclog" src="public/fb.png"></li>
            <a href="https://www.linkedin.com/company/youth-of-%C5%8Dr%C4%81kei/?originalSubdomain=nz"><img class="soclog" src="public/in.png"></li>
            <a href="https://www.youtube.com/channel/UCaAQFFboitXtz8H7_2WLAag"><img class="soclog" src="public/yt.png"></li>
            <a href="https://www.facebook.com/youthoforakei/"><img class="soclog" src="public/ig.png"></li>
        </div>
    </div>

    <div class="navFeet">
        <ul><b>
            <li><a href="/"> Home </a></li>
            <li><a href="/projects"> Projects </a></li>
            <li><a href="/members"> Members </a></li>
            <li><a href="/contact"> Contact </a></li>
        </b></ul>
    </div>
</div>