---
import "../styles/global.css";
import "../styles/footer.css";
---

<div class="organization">
    <p class="organization-heading">Organizations and schools we work with:</p>
    <div class="company">
        <a href="https://www.ayv.org.nz/" target="_blank"
            ><img src="/aucklandYouthVoice.png" alt="Auckland Youth Voice" /></a
        >
        <a
            href="https://www.aucklandcouncil.govt.nz/about-auckland-council/how-auckland-council-works/local-boards/all-local-boards/orakei-local-board/Pages/default.aspx"
            target="_blank"><img src="/orakeiLocalBoard.png" alt="orakei-council" /></a
        >
        <a href="https://www.sacredheart.school.nz/" target="_blank"
            ><img src="/SHC_Crest-Photoroom.png" alt="Sacred Heart College"/></a
        >
        <a href="https://www.baradene.school.nz/" target="_blank"
            ><img src="/Baradene_crest.png" alt="Baradene"/></a
        >

        <a href="https://selwyn.school.nz/" target="_blank"
            ><img src="/Selwyn_crest.png" alt="Selwyn_crest.png"/></a
        >

        <a href="https://www.gdc.school.nz/" target="_blank"
            ><img src="/Glendowie_crest.png" alt="Glendowie" /></a
        >

        <a href="https://stcuthberts.school.nz/" target="_blank"
            ><img src="/St_Cuthberts_crest.png" alt="St Cuthberts"/></a
        >
    </div>
</div>

<div class="feet">
    <div class="footer-left">
        <div class="logoContainer">
            <img
                class="footer-logo"
                src="/YOO_Logo_Transparent_Background.png"
                alt="Youth Of Orakei Logo"
            />
        </div>

        <div class="FeetTitle">
            <p class="youthFont">Youth of Ōrākei</p>
            <p class="emailFont">youthoforakei@gmail.com</p>
        </div>
    </div>

    <div class="footer-nav">
        <a href="/"> Home </a>
        <a href="/projects"> Projects </a>
        <a href="/members"> Members </a>
        <a href="/contact"> Contact </a>
    </div>

    <div class="footer-right">
        <p class="socials-subtitle">Connect with us</p>
        <div class="soclogContainer">
            <a href="https://www.facebook.com/youthoforakei/" target="_blank"
                ><img class="soclog" src="/fb.png" alt="facebook" />
                <a
                    href="https://www.linkedin.com/company/youth-of-%C5%8Dr%C4%81kei/?originalSubdomain=nz"
                    target="_blank"
                    ><img class="soclog" src="/in.png" alt="linkedin"/>
                    <a
                        href="https://www.youtube.com/channel/UCaAQFFboitXtz8H7_2WLAag"
                        target="_blank"
                        ><img class="soclog" src="/yt.png" alt="youtube"/>
                        <a
                            href="https://www.instagram.com/youthoforakei/"
                            target="_blank"
                            ><img class="soclog" src="/ig.png" alt="instagram" /></a
                        ></a
                    ></a
                ></a
            >
        </div>
    </div>
</div>
