---
import '../styles/global.css';
import '../styles/footer.css';
---
<div class="organization">
    <p class="organization-heading">Organizations and schools we work with:</p>
    <div class="company">
        <a href="https://www.ayv.org.nz/" target="_blank"><img src="/aucklandYouthVoice.png"></a>
        <a href="https://www.aucklandcouncil.govt.nz/about-auckland-council/how-auckland-council-works/local-boards/all-local-boards/orakei-local-board/Pages/default.aspx" target="_blank"><img src="/orakeiLocalBoard.png"></a>
    </div>
</div>

<div class="feet">
    <div class="footer-left">
        <div class="logoContainer">
            <img class="footer-logo" src="/YOO_Logo_Transparent_Background.png">
        </div>

        <div class="socials">
            <h5 class="youthFont">Youth of Ōrākei</h5>
            <div>
                <p class="socials-subtitle">Connect with us </p>
                <div class="soclogContainer">
                    <a href="https://www.facebook.com/youthoforakei/" target="_blank" ><img class="soclog" src="/fb.png">
                        <a href="https://www.linkedin.com/company/youth-of-%C5%8Dr%C4%81kei/?originalSubdomain=nz" target="_blank"><img class="soclog" src="/in.png">
                            <a href="https://www.youtube.com/channel/UCaAQFFboitXtz8H7_2WLAag" target="_blank"><img class="soclog" src="/yt.png">
                                <a href="https://www.facebook.com/youthoforakei/" target="_blank"><img class="soclog" src="/ig.png"></a></a></a></a>
                </div>
            </div>
        </div>
    </div>


    <div class="footer-right">
        <ul class="footer-nav">
            <li><a href="/"> Home </a></li>
            <li><a href="/projects"> Projects </a></li>
            <li><a href="/members"> Members </a></li>
            <li><a href="/contact"> Contact </a></li>
        </ul>
    </div>
</div>