---
import "../styles/global.css";
---

<header class="navbar">
  <div class="container mx-auto flex items-center justify-between">
    <div class="flex items-center">
      <img src="src/icons/YOO_Logo_Transparent_Background.png" class="w-12" />
      <span class="text-white ml-2 font-semibold text-lg">Your Brand</span>
    </div>
    <nav>
      <ul class="flex space-x-4">
        <li><a href="/projects" class="nav-link">Projects</a></li>
        <li><a href="/members" class="nav-link">Members</a></li>
        <li><a href="/contact" class="nav-link">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
