---
import "../styles/global.css";
---

<nav>
  <div class="navbar">
    <img
      src="/icons/YOO_Logo_Transparent_Background.svg"
      alt="Youth of Orakei Logo"
    />
    <a href=" index.html"></a>Youth of Orakei
  </div>
  <ul>
    <a href="/projects">Projects</a>
    <a href="/members">Members</a>
    <a href="/contact">Contact</a>
  </ul>
</nav>
