---
import "../styles/global.css";
---

<nav>
  <div class="navbar">
    <a href="{{ site.baseurl }}/index.html">Youth of Orakei</a>
    <a href="{{ site.baseurl }}/projects.html">Projects</a>
    <a href="{{ site.baseurl }}/blog.html">Members</a>
    <a href="{{ site.baseurl }}/contact.html">Contact</a>
  </div>
</nav>
