---
import "../styles/global.css";
import "../styles/header.css";
---

<header class="header">
  <a href="/" class="logo">
    <img
      class="img-logo"
      src="public/YOO_Logo_Transparent_Background.png"
      alt="Youth of Orakei"
    />
    <span class="txt-logo">Youth of Ōrākei</span>
  </a>
  <nav class="navbar">
    <a href="/projects">Projects</a>
    <a href="/members">Members</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
