---
// Homepage
import "../styles/global.css";
import "../styles/projectsCard.css";

import Layout from "../layouts/layout.astro";
---

<section class="index-section index-goals">
  <div class="general-wrapper">
    <h3 class="index-heading text-green-dark">Our projects</h3>
    <p class="text-medium">(super random placeholder design at the moment)</p>
    <div class="index-goals-headlines">
      <div class="index-goals-line"></div>
      <div class="index-goals-text">
        <p class="index-goals-headline text-blue">Support</p>
        <p class="index-goals-headline text-green">Connect</p>
        <p class="index-goals-headline text-red">Empower</p>
      </div>
    </div>
  </div>
</section>
