---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <div class="leadership">
      <div class="left1">
        <h2>LEADERSHIP TEAM</h2>
        <p class="description-box-lead">
          Description of the leadership team... Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Integer sit amet fringilla libero.
          Praesent rutrum in dui ut feugiat. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Nullam eget eleifend nibh. Maecenas ut
          turpis ante.
          <button>LEARN MORE</button>
        </p>
      </div>
      <div class="right1">
        <ul class="people-c1">
          <li class="person-card">
            <img src="public/Team + Individual/LT-IshitaBarot (Co-chair).JPG" />
            <p class="description-box-person">
              <b>Ishata Barot</b><br />
              Co-chair <br />
              [Text]
            </p>
          </li>
          <li class="person-card">
            <img src="public/Team + Individual/LT-JoshuaCurtis (Co-chair).JPG" />
            <p class="description-box-person">
              <b>Joshua Curtis</b><br />
              Co-chair <br />
              [Text]
            </p>
          </li>
          <li class="person-card">
            <img src="public/Team + Individual/LT-BenSaunders (Treasurer).JPG" />
            <p class="description-box-person">
              <b>Ben Saunders</b><br />
              Treasurer <br />
              [Text]
            </p>
          </li>
          <li class="person-card">
            <img src="public/Team + Individual/LT-RashmiMuralidhar (Council Engagement Lead).JPG" />
            <p class="description-box-person">
              <b>Rashmi Muralidhar</b><br />
              Council Engagement Lead <br />
              [Text]
            </p>
          </li>
          <li class="person-card">
            <img src="public/Team + Individual/LT-ThanishkaSatheeshkumar (Communications Lead).JPG" />
            <p class="description-box-person">
              <b>Thanishka Satheeshkumar</b><br />
              Communications Lead <br />
              [Text]
            </p>
          </li>
          <li class="person-card">
            <img src="public/Team + Individual/LT-YixuanZhu (Secretary).JPG" />
            <p class="description-box-person">
              <b>Yixuan Zhu</b><br />
              Secretary <br />
              [Text]
            </p>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
