---
import "../styles/global.css";
import "../styles/header.css";
import "../styles/teamCard.css";
---

<!doctype html>
<html lang="en">
  <div class="team-card">
    <a href="/projectsTeam2">
      <div onclick="window.location.href='#'">
        <!-- Replace '#' with the link you want to redirect to -->
        <div class="team-details">
          <h2>Team 2</h2>
          <p>Description of the team</p>
        </div>
        <div class="team-image">
          <p class="placeholder-text">Placeholder image</p>
        </div>
      </div>
    </a>
  </div>


</html>
