---
import "../styles/global.css";
// const names = ["Kimberley", "Anna", "Anton"];
---

<html lang="en">
  <head>
    <style>
      /* HTML Classes below: */
    </style>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <div>
      <h1>INTRODUCING OUR TEAMS</h1>
    </div>
    <div class="nav">Teams</div>
    <div class="leadership">
      <div class="left1">
        <h2>Leadership Team</h2>
        <p>Description of the leadership team...</p>
      </div>
      <div class="right1">
        <div class="person-card">
          <p>Name+Description</p>
        </div>
        <div class="person-card">
          <p>Name+Description</p>
        </div>
        <div class="person-card">
          <p>Name+Description</p>
        </div>
        <div class="person-card">
          <p>Name+Description</p>
        </div>
      </div>
    </div>
    <div class="communications">
      <h2>Communications Team</h2>
    </div>
    <div class="projects">
      <h2>Projects Team</h2>
    </div>
  </body>
</html>
