---
import "../styles/global.css";
// const names = ["Kimberley", "Anna", "Anton"];
---

<html lang="en">
  <head>
    <style>
      /* HTML Classes below: */

      .people-c1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 0;
        width: 100%;
      }

      .person-card li {
        margin-bottom: 15px;
        width: 40%;
      }

      .person-card img {
        border-radius: 50%;
        width: 170px;
      }

      .person-card p {
        color: rgb(12, 42, 7);
        border-radius: 50px;
      }

      .person-card {
        background-color: rgb(193, 255, 145);
        margin: auto;
        padding: 20px;
        flex: 0 1 calc(33.33% - 10px);
      }
    </style>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <div>
      <h1 class="title">INTRODUCING OUR TEAMS</h1>
    </div>
    <div class="nav">
      <button>LEADERSHIP</button>
      <button>COMMUNICATIONS</button>
      <button>PROJECTS</button>
    </div>
    <div class="leadership">
      <div class="left1">
        <h2>LEADERSHIP TEAM</h2>
        <p>
          Description of the leadership team... Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Integer sit amet fringilla libero.
          Praesent rutrum in dui ut feugiat. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Nullam eget eleifend nibh. Maecenas ut
          turpis ante.
        </p>
      </div>
      <div class="right1">
        <ul class="people-c1">
          <li class="person-card">
            <img src="https://pbs.twimg.com/media/EAmr-PAWsAEoiWR.jpg" />
            <p>Sad Cat. Is sad all the time.</p>
          </li>
          <li class="person-card">
            <p>Name+Description</p>
          </li>
          <li class="person-card">
            <p>Name+Description</p>
          </li>
          <li class="person-card">
            <p>Name+Description</p>
          </li>
          <li class="person-card">
            <p>Name+Description</p>
          </li>
          <li class="person-card">
            <p>Name+Description</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="communications">
      <h2>Communications Team</h2>
    </div>
    <div class="projects">
      <h2>Projects Team</h2>
    </div>
  </body>
</html>
