---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <div class="leadership" id="leadership-section">
      <div class="left1">
        <h2 class="lead-title"><b>Leadership Team</b></h2>
        <p class="main-description-box-lead">
          Description of the leadership team... Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Integer sit amet fringilla libero.
          Praesent rutrum in dui ut feugiat. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Nullam eget eleifend nibh. Maecenas ut
          turpis ante.
        </p>
      </div>
      <div class="right1">
        <div class="person-card">
          <div class="img-wrapper">
            <img
              alt="team-member image"
              src="/Team + Individual/LT-IshitaBarot (Co-chair).JPG"
            />
          </div>
          <p class="description-box-lead">
            <b>Ishita Barot</b>
            <br /> Co-chair <br /> [Text]
          </p>
        </div>
        <div class="person-card">
          <div class="img-wrapper">
            <img
              alt="team-member image"
              src="/Team + Individual/LT-JoshuaCurtis (Co-chair).JPG"
            />
          </div>
          <p class="description-box-lead">
            <b>Joshua Curtis</b>
            <br /> Co-chair <br /> [Text]
          </p>
        </div>
        <div class="person-card">
          <div class="img-wrapper">
            <img
              alt="team-member image"
              src="/Team + Individual/LT-BenSaunders (Treasurer).JPG"
            />
          </div>
          <p class="description-box-lead">
            <b>Ben Saunders</b><br />Treasurer <br /> [Text]
          </p>
        </div>
        <div class="person-card">
          <div class="img-wrapper">
            <img
              alt="team-member image"
              src="/Team + Individual/LT-RashmiMuralidhar (Council Engagement Lead).JPG"
            />
          </div>
          <p class="description-box-lead">
            <b>Rashmi Muralidhar</b>
            <br /> Council Engagement Lead <br /> [Text]
          </p>
        </div>
        <div class="person-card">
          <div class="img-wrapper">
            <img
              alt="team-member image"
              src="/Team + Individual/LT-ThanishkaSatheeshkumar (Communications Lead).JPG"
            />
          </div>
          <p class="description-box-lead">
            <b>Thanishka Satheeshkumar</b><br /> Communications Lead <br /> [Text]
          </p>
        </div>
        <div class="person-card">
          <div class="img-wrapper">
            <img
              alt="team-member image"
              src="/Team + Individual/LT-YixuanZhu (Secretary).JPG"
            />
          </div>
          <p class="description-box-lead">
            <b>Yixuan Zhu</b>
            <br />Secretary <br /> [Text]
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
