---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <div class="communications" id="com-section">
      <div class="left2">
        <div class="person-card">
          <div class="img-wrapper">
            <img
              src="/Team + Individual/LT-ThanishkaSatheeshkumar (Communications Lead).JPG"
            />
          </div>
          <p class="description-box-coms">
            <b>Thanishka Satheeshkumar</b>
            <br />Communications Lead <br />[Text]
          </p>
        </div>
        <div class="person-card">
          <div class="img-wrapper">
            <img src="/Team + Individual/Comms-SaffronTse.JPG" />
          </div>
          <p class="description-box-coms">
            <b>Saffron Tse</b>
            <br /><br />[Text]
          </p>
        </div>
        <div class="person-card">
          <div class="img-wrapper">
            <img src="/Team + Individual/Comms-StellaCasey.JPG" />
          </div>
          <p class="description-box-coms">
            <b>Stella Casey</b>
            <br /><br />[Text]
          </p>
        </div>
        <div class="person-card">
          <div class="img-wrapper">
            <img src="/Team + Individual/Comms-Katerina Lontzetidou.JPG" />
          </div>
          <p class="description-box-coms">
            <b>Katerina Lontzetidou</b>
            <br /><br />[Text]
          </p>
        </div>
      </div>
      <div class="right2">
        <h2 class="coms-title"><b>Communications Team</b></h2>
        <p class="main-description-box-coms">
          Description of the communications team... Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Integer sit amet fringilla libero.
          Praesent rutrum in dui ut feugiat. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Nullam eget eleifend nibh. Maecenas ut
          turpis ante.
          <button class="learn-more-coms">LEARN MORE</button>
        </p>
      </div>
    </div>
  </body>
</html>
