<!--
This is the global layout, reflecting the common components to all pages (header, footer, and anything else we might add.
 -->

---
import "../styles/global.css";

import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<!-- TODO Make title and description props from each page -->

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Youth of Ōrākei</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
