
.imageWrapper{
    width: 100%;
    height: 80%;
}

.image{
    width: 100%;
    height: 1000px;
    object-fit: cover;
}

.heading{
    margin: 0;
    width: fit-content;
    padding: 6px 28px 0;

    background-color: #F1FFF6;
    border-radius: 16px;

    font-size: var(--fontsize-h3);
    font-weight: 700;
    color: var(--YOO-Blue-Darkest);

    box-shadow: 4px 4px 7px -2px hsl(188deg 100% 16% / 0.25), 12px 12px 18px -3px hsl(188deg 100% 16% / 0.25);
    transition: transform 600ms;

    will-change: transform;
}
.heading:hover{
    transform: rotate(5deg);
    transition: transform 300ms;
}

.about{
    display: flex;
    gap: 128px;
}

.left{
    flex: 1;
}

.right{
    flex: 1;
}

.aboutContent{
    margin: 32px 0;
    font-size: var(--fontsize-lrg);
}

.aboutContent h5{
    font-weight: 700;
}

.sideImage{
    width: 100%;
    height: 500px;

    object-fit: cover;
    border-radius: 64px 16px;
}

.goals{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.goalsList{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.goal{
    position: relative;

    width: 100%;
    height: 172px;
    padding: 24px 48px;

    box-shadow: 4px 4px 7px -2px hsl(188deg 100% 16% / 0.15), 12px 12px 18px -3px hsl(188deg 100% 16% / 0.15);
    border-radius: 16px;

    overflow: hidden;
}
.goal h4{
    font-weight: 700;
}

.goalBg{
    position: absolute;

    width: 75%;

    right: 0;
    bottom: 0;
}

.goalPlaceholder{
    position: absolute;
    right: 64px;
    opacity: 0.5;
}